//Small CSS
html
	font-size : map-get($rem-unit-sizes, sm)

body
	background-color : transparent

h1 
	font-size : 1.2rem
h2 
	font-size : 1.1rem
h3 
	font-size : 1rem
h4 
	font-size   : 1rem
	font-weight : normal

.btn
	padding       : .1rem
	border-radius : 0

#env-desc
	font-size : .7rem